<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    td{
        border: 1px solid black;
    }

</style>


<script>


    $(document).ready(function () {
        getComment();
    })
    function getComment() {
        let id = $('#num').text();
        $.ajax({
            type: 'GET',
            url: `/board/detail/${id}/comment`,
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    let message = response[i];
                    let text = message['text'];
                    let username = message['username'];
                    let createdAt = message['createdAt'];
                    addHtml(text,username,createdAt);
                }
            }
        })
    }

    function addHtml(text,username,createdAt) {
        let tempHtml=`<td>${username}</td><td>${text}</td><td>${createdAt}</td>
                        <td><input type="button" value="수정"></td>
                        <td><input type="button" value="삭제"></td>`;

        $('#flag').append(tempHtml);
    }




    function deleteOne() {
        let id =  $('#num').text();
        $.ajax({
            type: "DELETE",
            url: `/auth/board/${id}`,
            contentType: "application/json",
            success: function (response) {
                window.location.href="/";
            }
        })
    }

    function updateForm() {
        let id =  $('#num').text();
        location.href = "/auth/board/update/" + id;
    }

    function addComment() {
        let id =  $('#num').text();
        let text = $('#text').val();
        let username = $('#username').val();

        let data = {'text': text,'username':username};
        $.ajax({
            type: "POST",
            url: `/board/${id}/comment`,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                window.location.reload();
            }
        });
    }
</script>

<body>
<table id="article">
    <tbody id="tableBody">
    <tr>
        <td>글번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>시간</td>
    </tr>
    <tr th:each="board : ${boards}">
        <td th:text="${board.id}" id="num">글번호</td>
        <td th:text="${board.title}">제목</td>
        <td th:text="${board.author}">작성자</td>
        <td th:text="${board.createdAt}">시간</td>
        <td th:text="${board.content}">시간</td>
        <input type="password" id="password">
        <td><input type="button" value="삭제" onclick="deleteOne()"></td>
        <td><input type="button" value="수정" onclick="updateForm()"></td>
    </tr>
    </tbody>
</table>
<br><br>
<br><br><br><br><br>

<textarea cols="15" rows="5" id="text"></textarea>
작성자<input type="text" id="username">
<input type="button" value="작성" onclick="addComment()">

<table id="flag">
    <tr>
        <td>이름</td><td>내용</td>
    </tr>


</table>

</body>
</html>